<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Edit User')}">
</head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<div class="main-container">

    <div class="form-container">

        <span class="form-title">Edit user roles</span>

        <form method="POST"
              role="form"
              th:action="@{/users/edit}">

            <input type="hidden" th:field="${user.id}" th:value="${user.id}">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control"
                       th:field="${user.username}" readonly>
            </div>
            <div class="form-group">
                <div class="column-form-group">
                    <div class="role-checkbox" th:each="role : ${roles}">
                        <label th:for="${role.getId()}" th:text="${role.getTitle()}"></label>
                        <input th:id="${role.getId()}" type="checkbox" name="roles[]" th:value="${role.getId()}"
                               th:field="${user.roles}"/>
                    </div>
                </div>
            </div>

            <div class="button-row">
                <a href="/users" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>


        </form>

    </div>

</div>

</body>
</html>